.bloc-presence{
  border: 1px solid #707070;
  padding: 7px 10px;

}

.bloc-inactif, .bloc-presence {
  width: 100%;
  max-width: 777px;
  border-radius: 5px;
  margin: 30px 15px;

}

.bloc-inactif{

  padding: 15px;
  background-color: #eeeeee;

}


a{
    text-decoration: none;
    color: black;
}

.title-container{
  width: fit-content;
}