.myTimetable {
    width: 100%;
    table-layout: fixed;
    border-spacing: 0px;

}

.myTimetable thead {
    /* color: #FFFFFF; */
}

.myTimetable tbody {
    /* background-color: #AAAAFF; */
}


.TimeTableTimeScaleSample {
    margin-right: 20px;
}

.TimeTableTimeScaleSample div.tr,
.myTimetable div.tr {
    height: 47px;
}

.TimeTableTimeScaleSample div.td,
.myTimetable div.td {
    height: 100%;
}

/* .myTimetable tbody tr td:first-child {
    background-color: #FF0066;
    font-weight: bold;
} */
.myTimetable div.td {


    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

div.tr {
    position: relative;
    width: 100%;
    display: flex;
    height: 100%;
}

div.tr div.td:last-child {
    border-left-width: 0;
}

div.td {
    /* border: none; */
    width: 100%;
    border: 10px solid black;


}

.tbody .innerBorder {
    z-index: 1000;
}

/* div.tr  div.td:first-child {
    border-right-width:0;
} */
/* div.tr div.td:nth-child(odd) {
     border-right-width: 0; 
    border: 10px solid rgb(0, 0, 0);
} */

/* div.tr div.td:nth-child(even) {
  
    border: 10px solid rgb(73, 238, 8);
    border-right-style: none;
 
    border-left-style: solid;
} */


.TimeTableTimeScaleSample td {
    text-align: center;
    position: relative;


}

.timeTableDayScale {
    table-layout: fixed;
}

.timetableContainer {
    min-height: 600px;
}

.myTimetable div.tbody {
    position: relative;
    height: 100%;
}


div.empty_td {
    position: relative;
    z-index: -1;
    background-color: green !important;
}

div.td div.empty_td {
    position: absolute;
}

.myTimetable div.tr.breaks {
    font-style: italic;
    padding: 0 !important;
    font-weight: bold;
    position: absolute;
    width: 100%;
    border: none;
    z-index: 10;
    /* width: calc(100% - 20px); */
    left: 50%;
    transform: translateX(-50%);

    /* background: cadetblue; */
}

div.td {
    background-color: white;
}

.myTimetable div.tr.breaks div.td {
    background-color: #E61845 !important;
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 0;
}

.subject {
    font-size: 12pt;
    margin-bottom: 4px;
}

.room {
    font-size: 10pt;
    font-style: italic;
}

.TimeTableTimeScaleSample th,
.timeTableDayScale th {
    /* padding: 10px 0; */
    padding-bottom: 20px;
}

.timeTableDayScale {
    width: 100%;
}


.timeTableTimeScaleBody {
    width: 50px;
    border: 5px solid transparent;
    margin-right: 20px;
}

.timeTableTimeScaleBody div.td {
    border: none;
}

.timeScaleElemnt,
.specificTimeScaleElemnt {
    position: absolute;
    transform: translate(-100%, 50%);

}

.timeScaleElemnt {
  
    bottom: 100%;
}


.specificTimeScaleElemnt {
    transform: translate(-100%, -50%);
}

.timeScaleElemnt.timeScaleLastElemnt {
    top: 100%;
    height: min-content;
    transform: translate(-100%, -50%);
    
}



.innerBorder{
    display: none;
}
.breaks{
    /* display: none !important; */
}