
:root {
    --close-button-size: 16px;
  }
.myTimetable {
    width: 100%;
    table-layout: fixed;
    border-spacing: 0px;

}


.TimeTableTimeScale div.tr,
.myTimetable div.tr {
    height: 47px;
}

.TimeTableTimeScale div.td,
.myTimetable div.td {
    height: 100%;
}


.myTimetable div.td {


    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

}



div.tr {
    position: relative;
    width: 100%;
    display: flex;
    height: 100%;
}

div.tr div.td:last-child {
    border-left-width: 0;
}

div.td {
    /* border: none; */
    width: 100%;
    border: 10px solid black;



}
.deleteTimetableElement{
    /* position: absolute;
    right: 0px;
    top: 0px; */
    min-height: var(--close-button-size);
    min-width: var(--close-button-size);
    width: var(--close-button-size);
    height: var(--close-button-size);
    align-self: flex-end;
    justify-self: start;
}
.tbody .outerBorder{
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
    z-index: 1000;
}
.tbody .innerBorder {
    z-index: 1000;

    right: 0px;
}


.TimeTableTimeScale td {
    text-align: center;
    position: relative;


}

.timeTableDayScale {
    table-layout: fixed;
}

.timetableContainer {
    min-height: 600px;
}

.myTimetable div.tbody {
    position: relative;
    /* height: 100%; */
}

.timetableHeader {
    font-weight: 800;
}

div.empty_td {
    position: relative;
    z-index: -1;
    background-color: green !important;
}

div.td div.empty_td {
    position: absolute;
}

.myTimetable div.tr.breaks {
    font-style: italic;
    padding: 0 !important;
    font-weight: bold;
    position: absolute;
    width: 100%;
    border: none;
    z-index: 10;
    right: 0px;
 
}

div.td {
    background-color: white;
}

.myTimetable div.tr.breaks div.td {
    background-color: #E61845 ;
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 0;
}

.subject {
    font-size: 12pt;
    margin-bottom: 4px;
}

.room {
    font-size: 10pt;
    font-style: italic;
}

.TimeTableTimeScale th,
.timeTableDayScale th {
    /* padding: 10px 0; */
    padding-bottom: 20px;
}

.timeTableDayScale {
    width: 100%;
}

.timeScaleElemnt,
.specificTimeScaleElemnt {
    position: absolute;
    right: 50%;

}

.timeTableTimeScaleBody {
    width: 50px;
    border: 5px solid transparent;
    margin-right: 20px;
}

.timeTableTimeScaleBody div.td {
    border: none;
}

.timeScaleElemnt {

    bottom: 100%;
    transform: translate(50%, 50%);


}


.specificTimeScaleElemnt {
    transform: translate(50%, -50%);
}

.timeScaleElemnt.timeScaleLastElemnt {
    top: 100%;
    height: min-content;
    transform: translate(50%, -50%);
}


@media (max-width: 600px)  {
    .myTimetable div.tr.breaks div.td {
      background-color: rgb(41, 181, 228);
    }
  }

.timeTableTdContainer  .td {
    /* overflow-wrap: break-word; */
}




.innerBorder , .outerBorderContainer {
    /* display: none; */
}
.breaks{
    /* display: none !important; */
    /* pointer-events: none; */
}

.td_break_inner_container{
    /* display: flex;
    flex-direction: column;
    height: 100%;*/
    width: 100%; 
   font-size:12px ;
   overflow-x: hidden;
   text-overflow: ellipsis;

}